.App-header {
    width: 100vw;
    height: 46px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: $white;

    @media all and (min-width:768px) {
        height: 76px;
    }
}

.User-account {
    width: 20px;
    height: 20px;
    margin-right: 12px;
    
    @media all and (min-width:768px) {
        width: 30px;
        height: 30px;
    }
}

.Bag__trigger {
    border: none;
    outline: none;
    width: 20px;
    height: 20px;
    background: none;
    padding: 0;
    margin-right: 35px;

    @media all and (min-width:768px) {
        width: 30px;
        height: 30px;
    }
}

.Shopping-bag {
    width: 20px;
    height: 20px;
   
    @media all and (min-width:768px) {
        width: 30px;
        height: 30px;
    }
}