.App-header {
    width: 100vw;
    height: 76px;
    position: fixed;
    text-align: right;
}
.User-account {
    width: 30px;
    height: 30px;
    margin: 24px 11px 24px 0;

}
.Shopping-bag {
    width: 30px;
    height: 30px;
    margin: 24px 12px 24px 0;
}